{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../partials/teamFilter/index.njk" import teamFilter %}

{% set pageTitle = "Find an Individual Placement" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Find an individual placement</h1>

        {% call teamFilter(form, {}, paths.projects.filter(), paths.projects.index(), "Filter individual placements") %}
        {% endcall %}

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if projectRows | length %}
        <h2 class="govuk-heading-m govuk-!-margin-top-3">Individual placements</h2>

        {% include "./_projectSummaryList.njk" %}
      {% endif %}

      {% if showNoResultsMessage %}
        <h2 class="govuk-heading-m govuk-!-margin-top-3">No results found</h2>

        <p class="govuk-body">There are no results that match your search. Try searching again using different search criteria.</p>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

