{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% extends "../partials/layout.njk" %}

{% set pageTitle = project.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ project.name }}</h1>
      <h2 class="govuk-heading-m">Placement details</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address"
            },
            value: {
              text: project.address
            }
          },
          {
            key: {
              text: "Primary contact name"
            },
            value: {
              text: project.primaryContact.name
            }
          },
          {
            key: {
              text: "Primary contact email"
            },
            value: {
              text: project.primaryContact.email
            }
          },
          {
            key: {
              text: "Primary contact phone"
            },
            value: {
              text: project.primaryContact.phone
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-top-3">People with missing outcomes</h2>
      {% if appointmentList | length %}
        {% include "./_appointmentList.njk" %}
      {% else %}
        <p class="govuk-body">There are no people allocated to this placement with missing outcomes</p>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

