{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro hoursMinutesInputs(form, errors, titleText) %}
  <fieldset class="govuk-fieldset" role="group" aria-describedby="credited-time-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        {{ titleText }}
      </h2>
    </legend>
    <div id="credited-time-hint" class="govuk-hint">
      Enter hours and minutes, for example 1 30
    </div>
    <div class="govuk-date-input">
      <div class="govuk-date-input__item">
        {{ govukInput({
          label: {
            text: "Hours",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-2",
          id: "hours",
          name: "hours",
          value: form.hours,
          attributes: { inputmode: "numeric" },
          errorMessage: errors.hours
        }) }}
      </div>
      <div class="govuk-date-input__item">
          {{ govukInput({
          label: {
            text: "Minutes",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-2",
          id: "minutes",
          name: "minutes",
          value: form.minutes,
          attributes: { inputmode: "numeric" },
          errorMessage: errors.minutes
        }) }}
      </div>
    </div>
  </fieldset>
{% endmacro %}
