{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  {% include "./applicationInsightsScript.njk" %}

  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% if pageTitle %}
  {% set documentTitle = pageTitle + " - " + applicationName %}
{% else %}
  {% set documentTitle = applicationName %}
{% endif %}

{% block pageTitle %}
  {{ documentTitle }}
{% endblock %}

{% set emailHtml %}
  This is a new service. To get help or report a bug, email <a href=mailto:"{{ supportEmailAddress }}">{{ supportEmailAddress }}</a>.
{% endset %}

{% block header %}
  {% include "./header.njk" %}
  {{ govukPhaseBanner({
    tag: {
      text: "Private beta"
    },
    html: emailHtml
  }) }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    classes: 'govuk-footer',
    meta: {
      items: layoutUtils.getFooterItems(footerLinks)
    }
  }) }}
{% endblock %}


{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
