{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukTextarea({
  name: "notes",
  id: "notes",
  value: notes,
  hint: {
    text: "Write clearly and concisely. Include any practical details, positive progress, support needs, incidents, behaviour or work quality."
  },
  errorMessage: errors.notes,
  label: {
    text: "Notes",
    classes: "govuk-label--m",
    isPageHeading: false
  }
}) }}
{% if isSensitiveItem | length %}
  {{ govukCheckboxes({
    name: 'isSensitive',
    fieldset: {
      legend: {
        text: 'Do these notes include sensitive information?',
        classes: 'govuk-fieldset__legend--s',
        isPageHeading: false
      }
    },
    items: isSensitiveItem
  }) }}
{% else %}
  <p class="govuk-body">{{ sensitiveInfoContent }}</p>
{% endif %}
