{% macro pageHeader(heading) %}
  <div class="moj-page-header-actions govuk-!-margin-bottom-4">
    <div class="moj-page-header-actions__title">
      <span class="govuk-caption-l">{{ heading.caption }}</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ heading.title }}</h1>
      {% if (heading.description) %}
        <p class="govuk-body govuk-!-font-weight-bold">{{ heading.description }}</p>
      {% endif %}
    </div>
    <div class="moj-page-header-actions__actions">
      <div class="moj-button-group moj-button-group--inline">
        {{ caller() }}
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endmacro %}
