{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro startAndEndTimeInputs(values, errors, titleText = 'Log start and end time') %}
  {% if errors.startTime or errors.endTime %}
    {% set hasErrors = true %}
  {% endif %}
  <div class="{{'govuk-form-group govuk-form-group--error' if hasErrors else 'govuk-form-group'}}">
    <fieldset class="govuk-fieldset" role="group" {% if hasErrors %}aria-describedby="start-and-end-time-errors"{% endif %}>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          {{ titleText }}
        </h2>
      </legend>
      {% if hasErrors %}
        <p id="start-and-end-time-errors">
          <span class="govuk-visually-hidden">Error:</span>
          {% if errors.startTime %}
            <span class="govuk-error-message" > {{ errors.startTime.text }}</span>
          {% endif %}
          {% if errors.endTime %}
            <span class="govuk-error-message"> {{ errors.endTime.text }}</span>
          {% endif %}
        </p>
      {% endif %}


      <div class="govuk-date-input">
        <div class="govuk-date-input__item">
          {{ govukInput({
            label: {
              text: "Start time",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-4 govuk-input--error" if errors.startTime else "govuk-input--width-3",
            id: "startTime",
            name: "startTime",
            value: values.startTime
          }) }}
        </div>
        <div class="govuk-date-input__item">
            {{ govukInput({
            label: {
              text: "End time",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-4 govuk-input--error" if errors.endTime else "govuk-input--width-3",
            id: "endTime",
            name: "endTime",
            value: values.endTime
          }) }}
        </div>
      </div>
    </fieldset>
  </div>
{% endmacro %}
