{% extends "./layout.njk" %}

{% set pageTitle = 'Adjust travel time' %}

{% block content %}
  <h1 class="govuk-heading-l" data-qa="page-title">{{ pageTitle }}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">Placeholder for adjust travel time page.</p>
    </div>
  </div>
{% endblock %}
