{% extends "./layout.njk" %}

{% set pageTitle = 'Adjust travel time' %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">Placeholder for adjust travel time page.</p>
    </div>
  </div>
{% endblock %}
