{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Log attendance outcome' %}

{% block formHeader %}{% endblock %}

{% block formContent %}
  {{ govukRadios({
    name: "attendanceOutcome",
    fieldset: {
      legend: {
        text: "Log attendance",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: items,
    errorMessage: errors.attendanceOutcome
  }) }}

  {% include "../../partials/notesQuestions.njk" %}
{% endblock %}
