{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Log attendance outcome' %}

{% block formHeader %}{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukRadios({
        name: "attendanceOutcome",
        fieldset: {
          legend: {
            text: "Log attendance",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: items,
        errorMessage: errors.attendanceOutcome
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "./_notes.njk" %}
    </div>
  </div>
{% endblock %}
