{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Add supervisor details' %}

{% block beforeForm %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="{{ updatePath }}" method="get" class="govuk-!-margin-bottom-5">
        <input type="hidden" name="form" value="{{ form }}">
        <div class="search-and-filter__row">
          {{ govukSelect({
            label: {
                text: "Supervising team",
                classes: "govuk-label--s"
            },
            id: "team",
            name: "team",
            items: teamItems,
            errorMessage: errors.team
          }) }}
          {{ govukButton({
            "text": "Select team",
            preventDoubleClick: true,
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block formContent %}
  {% if supervisorItems | length %}
    <input type="hidden" name="team" value="{{ team }}">
    {{ govukSelect({
      label: {
          text: "Supervising officer",
          classes: "govuk-label--s"
      },
      id: "supervisor",
      name: "supervisor",
      items: supervisorItems,
      errorMessage: errors.supervisor
    }) }}
  {% endif %}
{% endblock %}
