{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Add date' %}

{% block formHeader %}{% endblock %}

{% block formContent %}
  {{ mojDatePicker({
    id: "date",
    name: "date",
    label: {
      text: "Add date",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, 17/5/2024"
    },
    value: date,
    errorMessage: errors.date
  }) }}
{% endblock %}
