{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Log enforcement' %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSelect({
        label: {
            text: "Choose enforcement action",
            classes: "govuk-label--s"
        },
        id: "enforcement",
        name: "enforcement",
        items: enforcementItems,
        errorMessage: errors.enforcement
      }) }}
    </div>
  </div>
{% endblock %}