{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Confirm enforcement' %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSelect({
        label: {
            text: "Choose enforcement action",
            classes: "govuk-label--s"
        },
        id: "enforcement",
        name: "enforcement",
        items: enforcementItems,
        errorMessage: errors.enforcement
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukDateInput({
        id: "respondBy",
        namePrefix: "respondBy",
        fieldset: {
          legend: {
            text: "Respond by",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: dateItems,
        errorMessage: errors['respondBy-day']
      }) }}
    </div>
  </div>
{% endblock %}