{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../_appointmentHeader.njk" import appointmentHeader %}


{% from "../../showErrorSummary.njk" import showErrorSummary %}

{% extends "../../partials/layout.njk" %}

{% set mainClasses = "app-container govuk-body" %}
{% if formButtonText is not defined %}
  {% set formButtonText = "Continue" %}
{% endif %}

{% if showContinue is not defined %}
  {% set showContinue = true %}
{% endif %}

{% set columnWidthClass = "govuk-grid-column-full" %}
{% if selectedPeopleCard %}
  {% set columnWidthClass = "govuk-grid-column-one-half govuk-grid-column-two-thirds-from-desktop" %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  {{ showErrorSummary(errorSummary) }}

  {% if successMessages %}
    {% for message in successMessages %}
      {{ govukNotificationBanner({
            html: '<h3 class="govuk-!-margin-top-2">' + message + '</h3>',
            type: 'success',
            titleId: 'success-title'
          }) }}
    {% endfor %}
  {% endif %}


  {% call appointmentHeader(heading) %}
    {% block headerCallToAction %}
    {% endblock %}
  {% endcall %}

  {% block formHeader %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">{{ pageTitle }}</h2>
      </div>
    </div>
  {% endblock %}



  <div class="govuk-grid-row">
    <div class="{{ columnWidthClass }}">
      {% block beforeForm %}{% endblock %}
      {% block form %}
      <form id="appointmentForm" action="{{ updatePath }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="form" value="{{ form }}">
        {% block formContent %}
        {% endblock %}
      </form>
        <div class="govuk-button-group">
          {% if showContinue %}
            {{ govukButton({
              text: formButtonText,
              type: "submit",
              attributes: {
                "form": "appointmentForm"
              },
              preventDoubleClick: preventDoubleClick
            }) }}
          {% endif %}
          {% block secondaryButton %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>
    {% if (selectedPeopleCard) %}
      <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">
        {{ govukSummaryList(selectedPeopleCard) }}
      </div>
    {% endif %}
  </div>
{% endblock %}
