{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Log compliance' %}

{% block formContent %}
      {{ govukRadios({
        name: "workQuality",
        fieldset: {
          legend: {
            text: "How was their work quality?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: workQualityItems,
        errorMessage: errors.workQuality
      }) }}
      {{ govukRadios({
        name: "behaviour",
        fieldset: {
          legend: {
            text: "How was their behaviour?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: behaviourItems,
        errorMessage: errors.behaviour
      }) }}
{% endblock %}
