{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Log hours' %}

{% block formHeader %}{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Log start and end time</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukInput({
        name: "startTime",
        id: "startTime",
        value: startTime,
        label: {
          text: "Start time"
        },
        classes: "govuk-input--width-3",
        errorMessage: errors.startTime
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukInput({
        name: "endTime",
        id: "endTime",
        value: endTime,
        label: {
          text: "End time"
        },
        classes: "govuk-input--width-3",
        errorMessage: errors.endTime
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Log penalty hours</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukInput({
        name: "penaltyHours",
        id: "penaltyHours",
        label: {
          text: "Penalty hours"
        },
        classes: "govuk-input--width-3 govuk-!-margin-bottom-3",
        errorMessage: errors.penaltyHours
      }) }}
    </div>
  </div>
{% endblock %}
