{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Log start and end time' %}

{% block formHeader %}{% endblock %}

{% block formContent %}
  <h2 class="govuk-heading-m">Log start and end time</h2>

  {{ govukInput({
    name: "startTime",
    id: "startTime",
    value: startTime,
    label: {
      text: "Start time",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-3",
    errorMessage: errors.startTime
  }) }}

  {{ govukInput({
    name: "endTime",
    id: "endTime",
    value: endTime,
    label: {
      text: "End time",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-3",
    errorMessage: errors.endTime
  }) }}

{% endblock %}
