{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Check project details' %}

{% block beforeForm %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSummaryList({
        card: {
          title: {
            text: 'Project details'
          }
        },
        rows: [
          {
            key: {
              text: "Project"
            },
            value: {
              text: project.name
            }
          },
          {
            key: {
              text: "Project type"
            },
            value: {
              text: project.type
            }
          },
          {
            key: {
              text: "Supervising team"
            },
            value: {
              text: project.supervisingTeam
            }
          },
          {
            key: {
              text: "Date and time"
            },
            value: {
              text: project.dateAndTime
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              text: project.location
            }
          }
        ]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSummaryList({
        card: {
          title: {
            text: 'Appointment details'
          }
        },
        rows: [
          {
            key: {
              text: "Provider"
            },
            value: {
              text: appointment.providerCode
            }
          },
          {
            key: {
              text: "Pick up time"
            },
            value: {
              text: appointment.pickUpTime
            }
          },
          {
            key: {
              text: "Pick up place"
            },
            value: {
              text: appointment.pickUpPlace
            }
          },
          {
            key: {
              text: "Notes"
            },
            value: {
              text: appointment.notes | escape | nl2br
            }
          },
          {
            key: {
              text: "Sensitive"
            },
            value: {
              text: appointment.sensitive
            }
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSelect({
        label: {
            text: "Choose supervisor",
            classes: "govuk-label--s"
        },
        id: "supervisor",
        name: "supervisor",
        items: supervisorItems,
        errorMessage: errors.supervisor
      }) }}
    </div>
  </div>

{% endblock %}
