{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../showErrorSummary.njk" import showErrorSummary %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = 'Check project details' %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  {{ showErrorSummary(errorSummary) }}
  
  {% include "../_offenderDetails.njk" %}

  <h2 class="govuk-heading-m">Check project details</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Project"
            },
            value: {
              text: project.name
            }
          },
          {
            key: {
              text: "Project type"
            },
            value: {
              text: project.type
            }
          },
          {
            key: {
              text: "Supervising team"
            },
            value: {
              text: project.supervisingTeam
            }
          },
          {
            key: {
              text: "Date and time"
            },
            value: {
              text: project.dateAndTime
            }
          }
        ]
      }) }}
    </div>
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="{{ updatePath }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukSelect({
          label: {
              text: "Choose supervisor",
              classes: "govuk-label--s"
          },
          id: "supervisor",
          name: "supervisor",
          items: supervisorItems,
          errorMessage: errors.supervisor
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}