{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Check project details' %}

{% block beforeForm %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Project"
            },
            value: {
              text: project.name
            }
          },
          {
            key: {
              text: "Project type"
            },
            value: {
              text: project.type
            }
          },
          {
            key: {
              text: "Supervising team"
            },
            value: {
              text: project.supervisingTeam
            }
          },
          {
            key: {
              text: "Date and time"
            },
            value: {
              text: project.dateAndTime
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSelect({
        label: {
            text: "Choose supervisor",
            classes: "govuk-label--s"
        },
        id: "supervisor",
        name: "supervisor",
        items: supervisorItems,
        errorMessage: errors.supervisor
      }) }}
    </div>
  </div>
{% endblock %}