{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro appointmentCard(card) %}
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        {{ card.title }}
      </h3>
    </div>
    <div class="govuk-summary-card__content">
      {{ govukSummaryList({
        rows: card.rows
      }) }}
    </div>
  </div>
{% endmacro %}
