{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Connect an appointment' %}
{% set submitButtonText = 'Connect an appointment' %}

{% block beforeForm %}
  <form id="createNewAppointment" action="{{ createNewAppointmentPath }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  </form>
{% endblock %}

{% block formContent %}
  <div class="govuk-!-margin-top-4">
    {{ govukRadios({
      name: "appointmentId",
      fieldset: {
        legend: {
          text: "Existing appointments",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "You can update an existing appointment or create a new appointment"
      },
      items: appointmentOptions,
      errorMessage: errors.appointmentId
    }) }}
  </div>

{% endblock %}

{% block secondaryButton %}
  {{ govukButton({
    text: "Create an appointment",
    classes: "govuk-button--secondary",
    type: "submit",
    attributes: {
      "form": "createNewAppointment"
    }
  }) }}
{% endblock %}
