{% extends "./layout.njk" %}

{% set pageTitle = 'View pre-scheduled appointments' %}

{% block formHeader %}
  <h2>View pre-scheduled appointments</h2>
{% endblock %}

{% block formContent %}
{% endblock %}
