{% extends "./layout.njk" %}
{% from "../../partials/hoursMinutesInputs.njk" import hoursMinutesInputs %}

{% set pageTitle = 'Record an outcome' %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ hoursMinutesInputs(timeToCredit, errors, 'Add credited hours') }}
    </div>
  </div>
{% endblock %}
