{% extends "./layout.njk" %}
{% from "../../partials/hoursMinutesInputs.njk" import hoursMinutesInputs %}
{% from "../_courseDetails.njk" import courseDetails %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set pageTitle = 'Record an outcome' %}

{% block beforeForm %}
  <h2>View records</h2>
  <p>Check the Community Campus record and hours remaining in the unpaid work requirement before deciding on the credited hours.</p>

  {{ courseDetails(courseDetailsItems, 'Community Campus record')}}
  {% include "./_requirementDetails.njk" %}
{% endblock %}
{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ hoursMinutesInputs(timeToCredit, errors, 'Add credited hours') }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukDateInput({
        id: "date",
        namePrefix: "date",
        fieldset: {
          legend: {
            html: '<h2 class="govuk-fieldset__heading">Add appointment date</h2>',
            classes: 'govuk-fieldset__legend govuk-fieldset__legend--m'
          }
        },
        items: dateItems,
        errorMessage: errors['date-day']
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "../../partials/notesQuestions.njk" %}
    </div>
  </div>
{% endblock %}
