{% extends "./layout.njk" %}


{% set pageTitle = 'Match with a project' %}

{% block beforeForm %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2>Add project details</h2>
      <p>Select the project team and project name to match the course record in nDelius.</p>

      {% include "../../partials/selectProject/projectTeamInput.njk" %}
    </div>
  </div>
{% endblock %}

{% block formContent %}
  {% include "../../partials/selectProject/projectInput.njk" %}
{% endblock %}
