{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Choose an unpaid work requirement' %}

{% block formContent %}
  <div class="govuk-!-margin-top-4">
    {{ govukRadios({
      name: "requirementNumber",
      fieldset: {
        legend: {
          text: "Existing requirements",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "The correct requirement needs to be selected to ensure the hours can be credited."
      },
      items: unpaidWorkOptions,
      errorMessage: errors.deliusEventNumber
    }) }}
  </div>
{% endblock %}
