{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Choose an unpaid work requirement' %}

{% block formContent %}
  <div class="govuk-!-margin-top-4">
    {{ govukRadios({
      name: "deliusEventNumber",
      fieldset: {
        legend: {
          text: "Existing requirements",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "The correct requirement needs to be selected to ensure the hours can be credited."
      },
      items: unpaidWorkOptions,
      errorMessage: errors.deliusEventNumber
    }) }}
  </div>

  <h2 class="govuk-heading-s">Event detail</h2>

  {% for event in unpaidWorkOptions %}
    {{ govukSummaryList({
      card: {
        title: {
          text: event.text,
          headingLevel: 3
        }
      },
      rows: event.details
    }) }}

  {% endfor %}
{% endblock %}
