{% from "../../../partials/hoursMinutesInputs.njk" import hoursMinutesInputs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../layout.njk" %}

{% set pageTitle = 'Adjust travel time' %}

{% block formHeader %}{% endblock %}

{% block beforeForm %}
  {% if errorList | length %}
    {{ govukErrorSummary({
      attributes: {
        "data-testid": "error-summary"
      },
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "./_appointmentDetails.njk" %}
    </div>
  </div>

  <form id="completeForm" action="{{ completeTaskPath }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  </form>
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ hoursMinutesInputs(time, errors, 'How much time should be credited for travel?') }}
    </div>
  </div>
{% endblock %}

{% block secondaryButton %}
  {{ govukButton({
    text: "Not eligible for travel time",
    classes: "govuk-button--secondary",
    type: "submit",
    attributes: {
      "form": "completeForm"
    }
  }) }}
{% endblock %}
