{% from "../../../partials/hoursMinutesInputs.njk" import hoursMinutesInputs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../layout.njk" %}

{% set pageTitle = 'Credit travel time for appointment' %}
{% set formButtonText = "Credit travel time" %}

{% block formHeader %}{% endblock %}

{% block beforeForm %}
  {% if errorList | length %}
    {{ govukErrorSummary({
      attributes: {
        "data-testid": "error-summary"
      },
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "./_appointmentDetails.njk" %}
    </div>
  </div>

  <form id="completeForm" action="{{ completeTaskPath }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  </form>
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukRadios({
        name: "time",
        fieldset: {
          legend: {
            text: "Add travel time",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { text: "1 hour total", value: 60, hint: { html: "30 minutes each way " } },
          { text: "2 hours total", value: 120, hint: { html: "1 hour each way " } }
        ],
        errorMessage: errors.time
      }) }}
    </div>
  </div>
{% endblock %}

{% block secondaryButton %}
  {% if withAppointmentLink %}
    <a class="govuk-link" href="{{ appointmentLink }}">Cancel</a>
  {% else %}
    {{ govukButton({
      text: "Not eligible for travel time",
      classes: "govuk-button--secondary",
      type: "submit",
      attributes: {
        "form": "completeForm"
      }
    }) }}
  {% endif %}
{% endblock %}
