{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Find a person with a community payback order" %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "dashboard--index" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  {% from "probation/case-search/macro.njk" import caseSearch %}
  {{ caseSearch({
    id: "search",
    label: {
      text: "Find a person with a community payback order",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "You can search by case reference number (CRN), name or date of birth."
    },
    results: searchResults,
    resultPath: resultPath
  }) }}
{% endblock %}
