{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro completionDetails(courseCompletion, completionDetailsRows) %}
{% if courseCompletion.status == "Failed" %}
  {{ govukWarningText({
    text: "This course has been failed three times.",
    iconFallbackText: "Warning",
    classes: "govuk-!-margin-bottom-3"
  }) }}

  <p class="govuk-body govuk-!-margin-bottom-4">Reset the course in Community Campus so {{ courseCompletion.firstName }} {{
  courseCompletion.lastName }} can try again. You can still credit any agreed time if a course has been failed.</p>
{% endif %}

{{ govukSummaryList({
  card: {
    title: {
      text: 'Completion details'
    }
  },
  rows: completionDetailsRows
}) }}
{% endmacro %}
