{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../showErrorSummary.njk" import showErrorSummary %}
{% from "../components/sortableTable/macro.njk" import sortableTable %}
{% from "../partials/pduFilter/index.njk" import pduFilter %}

{% set pageTitle = "Process Community Campus course completions" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: '/'
  }) }}
{% endblock %}

{% block content %}
  {% if successMessages %}
    {% for message in successMessages %}
      {{ govukNotificationBanner({
        html: '<h3 class="govuk-!-margin-top-2">' + message + '</h3>',
        type: 'success',
        titleId: 'success-title-' + loop.index
      }) }}
    {% endfor %}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ showErrorSummary(errorSummary) }}

      <h1 class="govuk-heading-l">Process Community Campus course completions</h1>

      {% call pduFilter(searchForm, errors, paths.courseCompletions.search(), paths.courseCompletions.index(), "Find course completions") %}
      {% endcall %}
    </div>
  </div>

    {% if showNoResultsMessage %}
      <h2>No results found</h2>
      <p>There are no results that match your search. Try searching again using different search criteria.</p>
    {% endif %}

    {% if courseCompletionRows | length %}
      <div id="search-results">
        {{ sortableTable({
          head: courseCompletionTableHeaders,
          rows: courseCompletionRows
        }) }}
      </div>
    {% endif %}

    {% if totalPages and totalPages > 1 %}
      {{ mojPagination(paginationComponentParams(pageNumber, totalPages, totalElements, pageSize, hrefPrefix))}}
    {% endif %}

<script nonce="{{ cspNonce }}" type="text/javascript">
  window.pageData = {
    pdus: {{ searchForm.pdus | dump | safe }}
  }
</script>

{% endblock %}
