{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../showErrorSummary.njk" import showErrorSummary %}

{% set pageTitle = "Process employment, training and education completions" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: '/'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ showErrorSummary(errorSummary) }}

      <h1 class="govuk-heading-l">Process employment, training and education completions</h1>

      <form action="{{ paths.courseCompletions.search() }}" method="get" class="search-and-filter">
        <h2 class="govuk-heading-m">Find course completions</h2>

        <div class="search-and-filter__row">
          {{ govukSelect({
            classes: "govuk-!-margin-right-4",
            label: {
                text: "Region",
                classes: "govuk-label--s"
            },
            id: "provider",
            name: "provider",
            items: [{
                value: "1000",
                text: "East of England"
              }]
            }) }}
        </div>

        <div class="search-and-filter__row">
          {{ govukDateInput({
            id: "startDate",
            namePrefix: "startDate",
            fieldset: {
              legend: {
                text: "From",
                classes: "govuk-!-font-weight-bold"
              }
            },
            items: startDateItems,
            errorMessage: errors['startDate-day']
          }) }}

          {{ govukDateInput({
            id: "endDate",
            namePrefix: "endDate",
            fieldset: {
              legend: {
                text: "To",
                classes: "govuk-!-font-weight-bold"
              }
            },
            items: endDateItems,
            errorMessage: errors['endDate-day']
          }) }}

          {{ govukButton({
            "name": "submit",
            "text": "Search",
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>

    {% if showNoResultsMessage %}
      <h2>No results found</h2>
      <p>There are no results that match your search. Try searching again using different search criteria.</p>
    {% endif %}

    {% if courseCompletionRows | length %}
    <div id="search-results">
      {% include "./_table.njk" %}
    </div>
    {% endif %}

{% endblock %}