{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = project.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full cpb-offender-details">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ courseCompletion.firstName }} {{ courseCompletion.lastName }}</h1>

    {{ govukButton({
      text: "Process course",
      href: processLink,
      classes: "govuk-!-margin-bottom-0 govuk-!-margin-top-2"
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Community Campus record</h2>
  </div>
</div>

{{ govukSummaryList({
  card: {
    title: {
      text: 'Learner details'
    }
  },
  rows: [
    {
      key: {
        text: 'First name'
      },
      value: {
        html: courseCompletion.firstName
      }
    },
    {
      key: {
        text: 'Last name'
      },
      value: {
        html: courseCompletion.lastName
      }
    },
    {
      key: {
        text: 'Date of birth'
      },
      value: {
        html: dateTimeUtils.dateObjtoUIDate(courseCompletion.dateOfBirth)
      }
    },
    {
      key: {
        text: 'Email'
      },
      value: {
        html: courseCompletion.email
      }
    },
    {
      key: {
        text: 'Region'
      }, value: {
        html: courseCompletion.region
      }
    },
    {
      key: {
        text: 'PDU'
      }, value: {
        html: courseCompletion.pdu.name
      }
    },
    {
      key: {
        text: 'Office'
      }, value: {
        html: courseCompletion.office
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: 'Course details'
    }
  },
  rows: [
    {
      key: {
        text: 'Course name'
      },
      value: {
        html: courseCompletion.courseName
      }
    },
    {
      key: {
        text: 'Course type'
      },
      value: {
        html: courseCompletion.courseType
      }
    },
    {
      key: {
        text: 'Provider'
      },
      value: {
        html: courseCompletion.provider
      }
    },
    {
      key: {
        text: 'Expected time'
      },
      value: {
        html: courseCompletion.expectedTimeSpent
      }
    },
    {
      key: {
        text: 'Expected time with 20% allowance'
      },
      value: {
        html: courseCompletion.expectedPlus20
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: 'Completion details'
    }
  },
  rows: completionDetailsRows
}) }}

{% endblock %}
