{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "dashboard--index" %}

{% block content %}

  <h1>Community Payback</h1>

  <div class="card-container">
    <div class="card"  data-cy-card-section="track-progress-group-placements">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.sessions.index() }}">Track progress on Community Payback</a>
        </h2>
        <p class="govuk-body">Find a project session and track a person's progress</p>
      </div>
    </div>
     <div class="card"  data-cy-card-section="track-progress-individual-placements">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.projects.index() }}">Track and record progress on individual placements</a>
        </h2>
        <p class="govuk-body">Find an individual placement and manage appointment progress</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.projects.show({ projectCode: 'INDY001' }) }}">View individual placement</a>
        </h2>
        <p class="govuk-body">For testing only</p>
      </div>
    </div>

    <div class="card" data-cy-card-section="process-course-completions">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.courseCompletions.index() }}">Process employment, training and education completions</a>
        </h2>
        <p class="govuk-body">View and process course completions from community campus</p>
      </div>
    </div>
  </div>

{% endblock %}
