{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "dashboard--index" %}

{% block content %}

  <h1>Record attendance on community payback</h1>

  <div class="card-container">
    <div class="card"  data-cy-card-section="track-progress-group-placements">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.sessions.index() }}">Record attendance at a group session</a>
        </h2>
        <p class="govuk-body">Find sessions and record people's attendance and compliance</p>
      </div>
    </div>
     <div class="card"  data-cy-card-section="track-progress-individual-placements">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.projects.index() }}">Record attendance at a host partner</a>
        </h2>
        <p class="govuk-body">Find placements and record people's attendance and compliance</p>
      </div>
    </div>
    <div class="card" data-cy-card-section="process-course-completions">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.courseCompletions.index() }}">Process Community Campus hours</a>
        </h2>
        <p class="govuk-body">Find people's completed courses and process their hours</p>
      </div>
    </div>

    {% if travelTimeEnabled %}
      <div class="card" data-cy-card-section="adjust-travel-time">
        <div class="card-body">
          <h2 class="govuk-heading-s">
            <a class="govuk-link" href="{{ paths.appointments.travelTime.index() }}">Record travel time</a>
          </h2>
          <p class="govuk-body">Find people's appointments and record approved travel time</p>
        </div>
      </div>
    {% endif %}

  </div>

{% endblock %}
